body { font-family: "Red Hat Display", sans-serif !important;overflow-x: hidden; }
section {padding: 20px 0px;}
nav { position: sticky; top: 0px; left: 0px; width: 100%; padding: 20px 70px; transition: all 0.4s ease 0s; z-index: 999; color: rgb(255, 255, 255) !important; }
nav.sticky { position: fixed; background: rgb(254, 254, 254); box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px; z-index: 999; padding: 5px 20px !important; }
img.ck-chng { display: none; }
.nav-links li a:hover {color: rgb(13, 202, 240);}
nav.sticky .nav-links li a { color: rgb(0, 0, 0); transition: all 0.4s ease 0s; }
nav.sticky .nav-links li a:hover {color: #0a58ca;/* background: azure; */}
.logo img {width: 100%;padding: 10px 0 0 0;}
ul.nav-links { display: block; text-align: right; }
ul.nav-links li {display: inline-block;padding: 15px 40px 0px 0;}
ul.nav-links a { font-size: 15px; font-weight: 600; letter-spacing: 0.8px; text-decoration: none; color: rgb(255, 255, 255); }
.home-wrp h1 { font-size: 40px; font-weight: 800; padding: 20px 0px; color: rgb(255, 255, 255); }
span.bg-blue {background: rgb(0, 193, 255);padding: 2px 6px;color: rgb(0, 0, 0);font-size: 60px;border-radius: 12px;}
.home-wrp p { font-size: 20px; font-weight: 500; padding: 0px 0px 20px; color: rgb(255, 255, 255); }
.hme-btn a {font-size: 30px;text-decoration: none;font-weight: 600;background: linear-gradient(90deg, rgb(0, 70, 149) 0%, rgb(0, 212, 255) 100%);padding: 10px 20px;color: rgb(255, 255, 255);border-radius: 20px;}
.hme-btn a:hover { color: rgb(255, 255, 255); }
.hme-btn i { padding: 0px 0px 0px 10px; }
.hme-btn a:hover {box-shadow: rgba(255, 255, 255, 0.24) 10px 7px 35px;color: rgb(255 255 255);transition: all 0.5s ease 0s;background: linear-gradient(152deg, rgb(9, 196, 254) 0%, rgb(116, 199, 32) 100%);}
.boxs:hover { background: linear-gradient(90deg, rgb(0, 70, 149) 0%, rgb(0, 212, 255) 100%); transition: all 0.4s ease-in 0s; color: rgb(255, 255, 255); }
.boxs:hover .cir-bx { background: rgb(0, 70, 149); }
section.abt-us {background: rgb(245, 245, 245);padding: 20px 0px;}
/* ///////////////////////////////// aAll Headings ///////////////////////////////// */
.sec-abt-1 h2, .tab-port h2, .achve h2, .sec-services h2, .rwd-wrp h2, .values h2, .sty h2, .fq-h2, .testi-wrp h2, section.clk h2,section.reviws h2,h2.off-sld { text-align: center; font-size: 60px; font-weight: 700; padding: 0px 0px 20px; }
/* ///////////////////////////////// aAll Headings ///////////////////////////////// */
p.sec-abt-p { font-size: 20px; padding: 60px 0px; }
img.img-abt-1 { width: 70%; padding: 0px 0px 60px 70px;   animation-name: example;}
.box-pr p {font-size: 20px;padding: 0px;margin: -15px 0 0px 0;}
.sec-abt-1-box { padding: 50px 0px; }
.boxs { background: rgb(255, 255, 255); padding: 20px; box-shadow: rgba(0, 0, 0, 0.08) 10px 10px 10px; position: relative; border-radius: 15px; height: 300px; }
.cir-bx { background: rgb(0, 193, 255); border-radius: 100% 100% 0px; position: absolute; width: 80px; height: 80px; margin: -80px 0px 0px; }
.cir-bx img { position: relative; padding: 16px 13px; }
.boxs h5 { padding: 20px 0px; font-size: 25px; font-weight: 700; }
.row.newrow { padding: 100px 0px 0px; }
img.tb-log-2-1 { width: 40%; }
section.cta-1 { background-image: url("assets/images/bg-tb.png") !important; }
.col-md-12.bg-blue-cta { background: linear-gradient(90deg, rgb(0, 70, 149) 0%, rgb(0, 212, 255) 100%); padding: 20px 30px; border-radius: 30px; }
section.cta-1 img { width: 90%; padding: 0px 70px; }
.cta-wrp h2 { font-size: 70px; font-weight: 700; padding: 0px 0px 20px; color: rgb(255, 255, 255); }
.cta-wrp p { font-size: 20px; color: rgb(255, 255, 255); }
.btn-cta {padding: 40px 20px;text-align: right !important;}
.btn-cta a {background: #084298;padding: 10px 20px;text-decoration: none;font-size: 20px;font-weight: 700;color: rgb(255 255 255);border-radius: 20px;}
.btn-cta i { padding: 0px 0px 0px 10px; }
.ctn-bt a { text-decoration: none; font-weight: 800; background: linear-gradient(90deg, rgb(0, 70, 149) 0%, rgb(0, 212, 255) 100%); padding: 10px 20px; color: rgb(255, 255, 255); }
.ctn-bt a:hover { color: rgb(255, 255, 255); }
.ctn-bt i { color: rgb(255, 255, 255); padding: 0px 0px 0px 10px; }
.ctn-bt { padding: 10px 0px; }
a.active { color: rgb(0, 0, 0); font-weight: 800; }
.ctn-bt a:hover { background: rgb(0, 0, 0); transition: all 0.5s ease-in 0s; }
.ctn-bt a:hover .i { padding: 0px 0px 0px 15px; }
.trust-wrp { text-align: center; }
.trust-wrp h2 { font-size: 60px; font-weight: 700; padding: 20px 0px; }
.tab { display: block; }
.active {font-weight: bold;}
.tab-button {background-color: rgb(245 245 245);border: 1px solid rgb(204, 204, 204);padding: 10px 20px;cursor: pointer;display: inline-block;margin-bottom: -1px;font-size: 15px;border: 0px;/* border-bottom: 1px solid #000; */}
.tab-button.active {background-color: rgb(8 66 152 / 0%);border-bottom: 1px soid linear-gradient(90deg, rgb(0, 70, 149) 0%, rgb(0, 212, 255) 100%) !important;color: rgb(0 0 0);font-size: 20px;font-weight: 600;border-radius: 0px;border-bottom: 2px solid rgb(0, 212, 255);}
.tab-content { display: none; padding: 20px; border-top: none; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }
.tab-content.active { display: block; }
img.tb-log {width: 70%;}
h6.tb-hed { padding: 10px 0px; color: rgb(120, 120, 120); }
ul.tab-ul { display: block; text-align: center; }
ul.tab-ul li {display: inline-block;padding: 0px 15px;}
.tabbed-container {text-align: center;/* padding: 20px 0px 0px; */}
img.tb-log-2-2 { width: 40%; }img.tb-log-2-3 { width: 50%; }img.tb-log-2-4 { width: 50%; }img.tb-log-2-5 { width: 40%; }
.do-it-wrp h2 {font-size: 60px;font-weight: 700;padding: 20px 0px;text-align: center;}
.do-it-wrp p {text-align: left;font-size: 20px;}
.process {padding: 60px 20px;position: sticky;top: 180px;}
.process h2 {font-size: 60px;font-weight: 700;padding: 0px 0px 20px;color: #fff;}
.process p {font-size: 20px;color: #fff;}
.box-pr { background: rgba( 255, 255, 255, 0.2 );box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );backdrop-filter: blur( 2.5px );-webkit-backdrop-filter: blur( 2.5px );padding: 20px 30px;position: relative;border-bottom: 1px solid rgb(255, 255, 255);height: 60vh;z-index: 1;color: rgb(255, 255, 255);border-radius: 20px;margin: 0 0 20px 0;}
.stick-prs {padding: 0px 0px;}
.box-pr ul { display: block; padding: 0px; }
.box-pr li { display: inline-block; font-size: 20px; font-weight: 700; }
.box-pr h2 {padding: 25px 0px;font-size: 40px;font-weight: 700;text-align: left;}
.box-pr h5 { text-align: right; font-size: 100px; padding: 0px 0px 0px 90px; position: absolute; top: 0px; font-weight: 800; opacity: 0.2; display: none; }
.box-pr.black { color: rgb(255, 255, 255); }
span.trans { color: transparent; }
.img-frm img {width: 70%;padding: 50px 0 0 0;}
input {border-width: 0px 0px 1px;border-top-style: initial;border-right-style: initial;border-left-style: initial;border-top-color: initial;border-right-color: initial;border-left-color: initial;border-image: initial;border-bottom-style: solid;border-bottom-color: rgb(0, 0, 0);padding: 10px 20px;background: transparent;width: 100%;border: 2px solid #000;border-radius: 12px;}
input[type="submit"] {padding: 10px 30px;border: 0px;background: linear-gradient(90deg, rgb(0, 70, 149) 0%, rgb(0, 212, 255) 100%);font-size: 20px;font-weight: 700;border-radius: 20px;color: #fff;}
.frm-wrp h2 {font-size: 40px;font-weight: 700;/* padding: 40px 0px 0px; */}
section.frm-end {background: rgb(245, 245, 245);/* height: 170vh; */}
img.logo-ft {width: 50%;padding: 30px 0 0 0;}
img.star-ft { width: 40%; }
footer { background: rgb(0, 70, 149); padding: 10px 0px; color: rgb(255, 255, 255); }
.pt-two li { display: block; padding: 10px 0px; }
.pt-two ul { padding: 0px; }
.pt-two a { color: rgb(255, 255, 255); font-size: 20px; text-decoration: none; }
.pt-two h5 { font-size: 30px; font-weight: 600; }
.pt-one h5 { padding: 20px 0px; }
.pt-two { padding: 0px 0px 0px 50px; }
.pt-one h5 { padding: 20px 0px; }
.pt-two { padding: 0px 0px 0px 50px; }
.pt-three h5 { font-size: 30px; }
.pt-three ul { padding: 0px; }
.pt-three li { display: block; padding: 20px 0px; font-size: 20px; }
.col-md-12.bg-grey { text-align: center; padding: 5px 0px; }
.port-h1 h1 { color: rgb(255, 255, 255); }
.bg-abt { background: url("../images/bg-abt.png") center center no-repeat; }
img.port-img { width: 65%; }
.home-wrp.abt-home p, h1 { color: rgb(255, 255, 255); }
span.bg-blue.abt { color: rgb(0, 0, 0); }
section.bh-tru-pat { background: rgb(245, 245, 245); text-align: center; }
.trt-img ul { display: block; padding: 0px; }
.trt-img li { display: inline-block; width: 17%; }
.trt-img img { width: 100%; }
/* ///////////////////////////////// aAll Gray walay Parts ///////////////////////////////// */
.trusted h2, .part-buld, .tab-port h5, .sec-abt-1 h5, .achve h5, .sty h6, .map-wrp h6, section.faq h6, .testi-wrp h6, section.clk h6,section.reviws h6,#sld-h6 {color: rgb(0 0 0);font-weight: 200;font-size: 20px;letter-spacing: 10px;padding: 20px 0px;text-align: center;text-transform: uppercase;}
/* ///////////////////////////////// aAll Gray walay Parts ///////////////////////////////// */
.build h2 { text-align: left; font-size: 55px; font-weight: 700; }
span.col-blue { background: rgb(13, 110, 253); color: rgb(255, 255, 255); padding: 0px 5px; }
h2.part-buld { padding: 0px 0px 70px; }
.prt-bx { background: rgb(255, 255, 255); height: 30vh; width: 100%; padding: 20px; border-radius: 20px; box-shadow: rgba(62, 66, 66, 0.22) 0px 10px 39px, rgba(255, 255, 255, 0.22) 0px 10px 40px 10px inset; }
.prt-bx h5 { font-size: 80px; font-weight: 800; padding: 10px 0px; }
.prt-bx p { font-size: 20px; text-align: center; padding: 0px 20px 0px 0px; }
.prt-bx:hover { background: linear-gradient(90deg, rgb(0, 70, 149) 0%, rgb(0, 212, 255) 100%); color: rgb(255, 255, 255); transition: all 0.3s ease-in 0s; transform: scale(1.1); }
.port-wrp { background: url("../images/port.png") 0px 0px no-repeat !important; }
.pt-bxs { height: 40vh; background: url("../images/port.png") 0px 0px no-repeat !important; }
a.bxs-pt img { width: 100%; }
a.bxs-pt { width: 400px; position: absolute; }
.text-wrp-pt { position: absolute; top: 70px; padding: 20px 30px; text-align: center; display: none; }
a.bxs-pt img:hover { filter: brightness(0.2); }
a.bxs-pt:hover .text-wrp-pt { display: block; }
.box-prt img { width: 100%; }
.tab-port { text-align: center; }
.tab-port a { text-decoration: none; }
.box-prt:hover .head-rt { display: block; }
.head-rt { position: relative; top: -287px; padding: 10px 20px; background: rgb(0, 0, 0); color: rgb(255, 255, 255); display: none; }
h3.tb-hed { font-size: 40px; font-weight: 800; padding: 20px 0px; }
p.tb-p { font-size: 20px; padding: 20px 10px 50px; font-weight: 200; }
.achve p { text-align: center; padding: 30px 0px; }
.prt-bx.part-box { text-align: center; }
.prt-bx.part-box h5 { padding: 0px; }
.prt-bx.part-box p { font-size: 15px; }
.serv-h1 h1 { color: rgb(255, 255, 255); }
.serv-h1 .bg-blue { color: rgb(0, 0, 0); }
.serv-bg {background: url("../images/serv.png") center top / cover no-repeat;}
section.her-sec-serv p { color: rgb(255, 255, 255); }
.bx-serv {box-shadow: rgba(62, 66, 66, 0.22) 0px 10px 39px, rgba(255, 255, 255, 0.22) 0px 10px 40px 10px inset;height: 100%;padding: 10px 25px;border-radius: 20px;height: 50vh;}
img.arrows {text-align: right;padding: 10px 20px 10px 270px;}
.bx-serv ul { padding: 0px; }
.bx-serv li { display: block; font-size: 15px; }
.bx-serv h6 {font-size: 30px;font-weight: 700;}
.bx-serv:hover { background: linear-gradient(90deg, rgb(0, 70, 149) 0%, rgb(0, 212, 255) 100%); color: rgb(255, 255, 255); transition: all 0.4s ease-out 0s; }
.ser-p, .rwd-wrp p { font-size: 20px; text-align: center; padding: 50px 0px; }
.rwds-wrp { text-align: center; box-shadow: rgba(0, 0, 0, 0.29) 10px 10px 40px; border-radius: 20px; padding: 40px 0px; filter: grayscale(1); transform: scale(0.8); }
.rwds-wrp h6 { padding: 20px 0px; font-size: 20px; font-weight: 700; }
h6.small-h6 {font-size: 15px;padding: 10px 0px;}
.boxs-ser a { text-decoration: none; color: rgb(0, 0, 0); }
.bg-abt { background: url("../images/abt.png") center center / cover no-repeat; }
img.abt-img { width: 100%; }
img.vsn-img { position: absolute; padding: 100px 0px 0px 130px; opacity: 0.6; }
.vsn { width: 350px; background: white; padding: 10px 20px; border-radius: 20px; box-shadow: rgba(0, 0, 0, 0.2) 10px 10px 30px; height: 350px; }
.vsn:hover { background: rgb(0, 70, 149); color: rgb(255, 255, 255); transform: scale(1.05); transition: all 0.5s ease-out 0s; }
.vsn ul { padding: 0px; }
.vsn li { display: inline-block; padding: 10px 10px 0px 20px; }
.vsn li h6 { font-size: 40px; font-weight: 700; padding: 10px 0px 0px; }
.vsn p { font-size: 15px; padding: 0px 20px; }
img.icon { margin: 0px 0px 20px; }
span.colr-ble { color: rgb(8, 66, 152); padding: 0px 5px; }
.values p { text-align: center; padding: 30px 0px; }
h6.cv { font-size: 37px !important; }
img.vsn-img.mot { padding: 70px 100px; opacity: 0.4; }
.sty-wrp p { font-size: 20px; color: rgba(0, 0, 0, 0.46); font-weight: 500; padding: 100px 0px; }
.rwds-wrp:hover { filter: none; transform: scale(0.9); transition: all 0.3s ease-out 0s; }
.cnt-1 { color: rgb(255, 255, 255); }
.home-wrp.cnt-1 h1 { color: rgb(255, 255, 255); }
.bg-cnt { background: url("../images/cnt-us-bg.png") 0px 0px no-repeat !important; }
.home-wrp.cnt-1 p { padding: 50px 0px; }
iframe { width: 100%; }
.bx-mp-1 { background: rgb(245, 245, 245); border-radius: 12px; padding: 20px; box-shadow: rgba(0, 0, 0, 0.19) 10px 7px 40px; text-align: left !important; }
.bx-mp-1 h6 { font-size: 30px; letter-spacing: 0px; color: rgb(0, 0, 0); font-weight: 600; }
.bx-map { padding: 100px 0px; }
button.accordion-button.collapsed { font-size: 20px; font-weight: 600; color: rgba(0, 0, 0, 0.41); }
.box-pr img { position: absolute; left: -10px; top: 0px; opacity: 0.05; }
.box-pr ul {position: relative;z-index: 999;color: #fff;}
.chek { background: url("../images/cnt-us-bg.png") center center / cover no-repeat; }
img.prcss { max-width: 550px; height: 600px; display: none;}
.pt-one p { text-align: end; margin: -30px 0px 0px; }
i.fa-solid.fa-arrow-right { padding: 10px; }
ul.chekr { display: block; }
ul.chekr li { display: inline-block; }
.number {position: absolute;font-size: 120px;right: -20px;color: rgb(255 255 255);opacity: 1;font-weight: 700;text-align: right !important;}
.num-wrp { position: absolute; top: 0px; left: 0px; }
img.sty-img { width: 100%; }
ul.ft-li {padding: 40px 20px 0;display: block;text-align: right;}
ul.ft-li li { display: block; }
.img-pr img {position: relative;width: 50%;left: 80px;padding: 30px 0px;}
.carousel-inner img { width: 100%; height: 100%; }
.wrp-car.tab1 { background: url("/assets/images/bg-sli.png"); height: 100vh; }
.wrp-car.tab2 { background: url("/assets/images/slider/sl.png"); height: 100vh; }
.wrp-car.tab3 { background: url("/assets/images/slider/dog.png  "); height: 100vh; }
.wrp-car.tab4 { background: url("/assets/images/slider/shubuy.png "); height: 100vh; }
.wrp-car.tab5 { background: url("/assets/images/slider/arch.png "); height: 100vh; }
.wrp-car.tab6 { background: url("/assets/images/slider/dat.png "); height: 100vh; }
.wrp-car.tab7 { background: url("/assets/images/slider/house.png "); height: 100vh; }
.wrp-car.tab8 { background: url("/assets/images/slider/pers.png "); height: 100vh; }
.wrp-car.tab9 { background: url("/assets/images/slider/carer.png "); height: 100vh; }
.wrp-car.tab10 { background: url("/assets/images/slider/dive.png "); height: 100vh; }
.wrp-car.tab11 { background: url("/assets/images/slider/time.png "); height: 100vh; }
.wrp-car.tab12 { background: url("/assets/images/slider/chris.png "); height: 100vh; }
.wrp-car.tab13 { background: url("/assets/images/slider/good.png "); height: 100vh; }
.wrp-car.tab14 { background: url("/assets/images/slider/greens.png "); height: 100vh; }
.wrp-car.tab15 { background: url("/assets/images/slider/home.png "); height: 100vh; }
.wrp-car.tab16 { background: url("/assets/images/slider/see.png "); height: 100vh; }
.wrp-tetx {color: rgb(255, 255, 255);padding: 30px 50px;}
.wrp-tetx h2 {font-size: 50px;font-weight: 800;padding: 20px 0px;}
.wrp-chk {position: relative;padding: 20px 10px;}
input#check {position: absolute;left: -190px;top: 37px;/* padding: 0px; *//* margin: 0px; */}
input#checkpr {position: absolute;left: -190px;/* top: 127px; */}
.wrp-tetx h2 { text-align: left !important; }
.carousel-control-next, .carousel-control-prev { position: absolute; top: 0px; bottom: 0px; z-index: 1; display: flex; align-items: center; justify-content: center; width: 3% !important; }
.logo-app img { width: 80%; }
.logo-app ul { display: block; padding: 0px; }
.logo-app ul li { display: inline-block; }
img.logo-slider {width: 15%;border-radius: 12px;}
.topnav.blk-dis {display: none;}
section.sec-1 p {color: #fff;font-size: 20px;padding: 20px 0px;}
.img-sli-wrp img { width: 100%;padding: 60px 40px;}
section.reviws {background: whitesmoke;padding: 10px 0 10px;}
.bxs-rv {background: #fff;padding: 20px 40px;border-radius: 12px;height: 35vh;}
.bxs-rv h5{font-size: 30px;font-weight: 700;}
.bxs-rv p{font-size: 16px;}
textarea {border: 2px solid #000;background: transparent;border-bottom: 1px solid;width: 100%;padding: 10px 20px;border-radius: 12px;}
.spc {font-size: 20px;padding: 0 0px 0 20px;}
img.hme-img {width: 80%;margin-left: 70px;}
.rev-wrp {overflow: hidden;position: relative;padding: 0px 0px 0px 60px;}
.wrp-car {border-radius: 30px;margin: 0px 30px;}
.btn-cta a:hover {background: #0d6efd;color: #000;}
label {padding: 10px 0px;font-weight: 800;}
ul.socials {display: block;padding: 0px;}
ul.socials li {display: inline-block;padding: 0px 0px 0 20px;}
ul.socials i {font-size: 25px;color: #fff;}
section.trt-pat,section.stk-prss {background: whitesmoke;}
section.trt-pat {padding: 20px 0px;}
img.tb-log:hover {transform: scale(1.08);transition: 0.2s;}
img.tb-log-h {padding: 0px 20px;}
img.tb-log-1 { width: 40%;}
.tab-buttons { border-bottom: 1px solid #00000008;}
section.stk-prss { padding: 10px 0px; background:linear-gradient(180deg, rgb(0, 70, 149) 0%, rgb(0, 212, 255) 100%)}
.do-it-wrp h2 {color: #fff;}
.wrp-check {position: relative;/* padding: 20px 0px; */margin: -10px 0 0 0;}
.pakka-wrp {position: relative;width: 100%;}
.dropdown-content {display: none;position: absolute;background-color: #000000;min-width: 160px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);z-index: 1;}
.dropdown-content a {float: none;color: rgb(255, 255, 255);padding: 12px 16px;text-decoration: none;display: block;text-align: left;background: antiquewhite;}
.dropdown-content a:hover {background-color: #000000;}
.dropdown:hover .dropdown-content {display: block;}
.port-bg { background: url("../images/port-bg1.png") center center / cover no-repeat; }
.wrp-tetx p {font-size: 16px;font-weight: 200;}
.port-effect {position: relative;padding: 60px 0px;}
span.prt-eff {position: absolute;font-size: 120px;font-weight: 900;top: 2px;z-index: -1;color: #0000000f;}















/* ///////////////////privacy//////////////////////// */
.pr-vc ul {display: block;padding: 0px;}
.pr-vc li {display: inline-block;padding: 10px 10px;}
.pr-vc a {color: #fff;}
.prvcy{background: url("../images/prv.png") center center / cover no-repeat;height: 70vh;}
.pcy-wrp h2 {font-size: 60px;font-weight: 700;padding: 20px 0px;}
.pcy-wrp p {font-size: 20px;}
p.pv-bd li {font-size: 20px;}
span.bg-pcl {color: #084298;}


.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

input, select,textarea {
    padding: 10px 0px;
    border: 1px solid #ccc0;
    border-radius: 0px !important;
    border-bottom: 1px solid #ccc;
    background: whitesmoke;
}

select {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

input {
    flex: 1;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
li.lets {
    padding: 15px 0 0 40px !important;
}
.port-effect h2 {
    font-size: 60px;
    font-weight: 800;
}
.prt-wrp-text h2 {
    font-size: 60px;
    color: #fff;
    font-weight: 800;
}

.prt-wrp-text p {
    color: #fff;
    font-size: 20px;
}
.pr-vc a:hover {
    color: #00c1ff;
}
/* /////////////////////////pages start services walay ////////////////////////////////////// */
.ios-bg { background: url("../pages-ser/images/ios-bg.png") center center / cover no-repeat; }
.ios-pg h1 {
    font-size: 60px;
    padding: 70px 0 100px 0px;
}

.ios-pg h5 {
    color: #fff;
    font-size: 30px;
    padding: 0 0 20px;
}

.ios-pg p {
    font-size: 20px;
    font-weight: 300;
}
.ios-tech-r img {
    width: 30%;
}
.ios-tech { background: url("../pages-ser/images/ios-tech.png") center center / cover no-repeat; }
.states {
    padding: 20px 40px;
    color: #fff;
    border-radius: 20px;
    box-shadow: 0px 7px 30px #ffffff70;
}
.states:hover {
    background:linear-gradient(90deg, rgb(0, 70, 149) 0%, rgb(0, 212, 255) 100%);
    color: #fff;
    transition: 0.5s ease-in-out;
    border: 2px solid #000;
    box-shadow: 10px 10px 30px #ffffff3b;
}
.states h1 {
    font-weight: 700;
    padding: 0 0 20px;
}
.states.het {
    height: 100%;
}
.col-md-6.lne {
    border-right: 2px solid #000;
}
.steps {
    padding: 20px 40px;
    border-radius: 20px;
    box-shadow: 0px 7px 40px #00000017;
}
.nech {
    padding: 160px 0 0 0;
}
.num-stp {
    position: absolute;
}

.num-stp span {
    position: relative;
}

.num-stp h6 {
    font-size: 50px;
    position: absolute;
    padding: 0 0 0px 430px;
    top: -10px;
    font-weight: 700;
    color: #0000001f;
}
.steps h2 {
    padding: 0px 0px 20px;
    font-size: 50px;
    font-weight: 700;
}
.num-stp-1 {
    position: absolute;
}

.num-stp-1 span {
    position: relative;
}

.num-stp-1 h6 {
    font-size: 50px;
    position: absolute;
    padding: 0 0 0px 430px;
    top: -10px;
    font-weight: 700;
    color: #0000001f;
}
h2.tech-h2 {
    text-align: center;
    font-size: 60px;
    font-weight: 800;
    padding: 0 0 20px;
}
.steps:hover {
    background:linear-gradient(270deg, rgb(0, 70, 149) 0%, rgb(0, 212, 255) 100%);
    transition: 0.4s ease-in-out;
    color: #fff;
}
section.how {
    background: rgb(245, 245, 245);
}
.choose-ios { background: url("/assets/pages-ser/images/pool-ios.png") center center / cover no-repeat;color: #fff; }
.coose-wrp {
    padding: 150px 0 0 0;
}
h2.chsse-h2 {
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    padding: 0 0 60px;
}
.deko {
    border-right: 2px solid #fff;
}
h2.tch-h3 {
    text-align: center;
    font-size: 60px;
    color: #fff;
    padding: 0 0 60px;
}
.deko:hover{background: linear-gradient(35deg, rgb(0, 70, 149) 0%, rgb(0, 212, 255) 100%);transition: 0.3s;color: #fff;transform: scale(1.05);}
.carousel-item {transition: transform 2s ease-in-out !important;}
.slide-number {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}
.slide-number .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    background-color: #fff;
    border-radius: 50%;
}
.carousel-indicators.custom-indicators {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    list-style: none;
}
.carousel-indicators.custom-indicators li {
    width: 30px;
    height: 30px;
    background-color: #333;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.carousel-indicators.custom-indicators li.active {
    background-color: #007bff;
}
.shadows {
    box-shadow: 0px 10px 40px #00000059;
}
section.faq {
    padding: 20px 0px 25px;
}
h2#fe-gd {
    padding: 0px;
}
ul.nav-links.port-nav a {
    color: #000;
}
label {
    padding: 15px 0px 0px 0px;
}
label.sm-lab {
    font-size: 12px;
    padding: 5px 0px;
}
.iti {
    width: 100%;
    height: 50%;
}

.iti__flag-container {
    width: 80px;
    height: 46px;
}
.slick-prev, .slick-next {
    color: black !important; /* Ensure button color is visible */
}
h2#sld-h2 {
    text-align: center;
    font-size: 60px;
    font-weight: 800;
    padding: 0 0 20px 0px;
}
section#frm h2 {
    text-align: center;
    font-size: 60px;
    font-weight: 700;
}
i.fa-solid.fa-bars-staggered {
    color: #a6c71f;
}
.flex-sld {
    display: flex;
    padding: 0 0 0 80px;
}
.arr-wrp {
    position: relative;
}

.arrw-in-wrp {position: relative;text-align: end;}
.wrp-arrow {padding: 10px 0px 0px 0px;}
img.ios-iph {width: 100%;}
.sld-flx{display: flex;}.sld-flx img {padding: 0px 20px;}.ios-sld {padding: 60px 0px;}
.card-sld-off{background: url("/assets/pages-ser/images/Group\ 59.png") center center / cover no-repeat;height: 60vh;border-radius: 20px;color: #fff;padding: 40px 50px;margin: 0px 20px;}
.card-sld-off h2 {font-size: 50px;font-weight: 700;padding: 10px 0 20px;}
.card-sld-off-2 h2 {font-size: 50px;font-weight: 700;padding: 10px 0 20px;}
.card-sld-off-4 h2 {font-size: 50px;font-weight: 700;padding: 10px 0 20px;}
.card-sld-off p{font-size: 17px;}
.off-num-wrp-1 {position: relative;}
.num-wrp-of {position: relative;background: #00c1ff;width: 80px;height: 70px;border-radius: 12px;}
.num-wrp-of-2 {position: relative;background: #7E7AB0;width: 90px;height: 70px;border-radius: 12px;}
.num-wrp-of-3 {position: relative;background: #CDD8EB;width: 90px;height: 70px;border-radius: 12px;}
.num-wrp-of-4 {position: relative;background: #CCF93E;width: 90px;height: 70px;border-radius: 12px;}
.num-wrp-of span {position: absolute;padding: 0px 15px;font-size: 50px;font-weight: 700;}
.num-wrp-of-2 span {position: absolute;padding: 0px 15px;font-size: 50px;font-weight: 700;}
.num-wrp-of-3 span {position: absolute;padding: 0px 12px;font-size: 50px;font-weight: 900;color: #1D3C50;}
.num-wrp-of-4 span {position: absolute;padding: 0px 12px;font-size: 50px;font-weight: 900;color: #1D3C50;}
ul.pgs-log-des {display: block;padding: 20px 0 0 0;}
ul.pgs-log-des li {display: inline-flex;}
ul.pgs-log-des h6 {padding: 0px 10px;font-size: 20px;font-weight: 200;}
.prd-img{width: 80%;}
.card-sld-off-4{background: url("/assets/pages-ser/images/Group\ 71.png") center center / cover no-repeat;height: 60vh;border-radius: 20px;color: #fff;padding: 40px 50px;margin: 0px 20px;}
.card-sld-off-2{background: url("/assets/pages-ser/images/Group\ 72.png") center center / cover no-repeat;height: 60vh;border-radius: 20px;color: #fff;padding: 40px 50px;margin: 0px 20px;}