@media only screen and (max-width: 600px) {
  body{overflow-x: hidden !important;}
    span.bg-blue{font-size: 38px;}
    .box-pr h5{display: none;}
    .home-wrp h1 {
      font-size: 40px;
      color: #fff;
  }

  .home-wrp p,.sec-abt-p,.cta-wrp p,.do-it-wrp p{font-size: 15px;}
.box-pr p {
  font-size: 16px;
}
  
  
  .hme-btn a{font-size: 20px;}
  
  
  img.hme-img {
    width: 100%;
    padding: 70px 0px;
}
.sec-abt-1 h2, .tab-port h2, .achve h2, .sec-services h2, .rwd-wrp h2,.cta-wrp h2,.trust-wrp h2,.do-it-wrp h2{font-size: 40px;}
.boxs {
  margin-bottom: 80px;
}
section.cta-1 img {
  width: 100%;
  padding: 0px 70px;
}
ul.tab-ul li {
  display: inline-block;
  padding: 10px 10px;
  width: 100%;
}

.ctn-bt {
  display: none;
}
img.prcss {
  width: 100%;
}
.box-pr h2{font-size: 30px;}
.logo img {
  width: 50%;
}
.build h2{font-size: 40px;}
.prt-bx{width: 80%;margin: 20px 33px;}
.home-wrp.abt-home.port-h1 h1 {
  color: #fff;
}
.home-wrp.serv-h1 h1 {
  color: #fff;
}

img.abt-img{display: none;}
.values h2,.sty h2 {
  font-size: 30px;
}
section.story img {
  width: 90%;
}
.vsn {
  margin: 50px 0px;
}
img.port-img{display: none;}
/* nav {padding:0px;}
nav ul {padding: 5px;margin: 0 0 0 -30px;text-align: center !important;justify-content: center;}
nav ul  li {padding: 5px 5px !important;text-align: center;} */
i.fa-solid.fa-arrow-right{display: none;}
img.arrows {display: none;}
.boxs-ser .col-md-4 { padding: 10px 0 30px 10px;}
.bxs-rwds .col-md-4 {padding: 20px 0 40px 20px;}
section.cta-1 {margin: 0px 10px;}
.number {

font-size: 80px;

right: 15px;

font-weight: 600;

opacity: 0.12;
}
.row.newrow {
  padding: 0px 0px 0px 0px;
}
.img-pr img {
  left: 12px;
  width: 60%;
  opacity: 0.05;
  top: 27px;
}
.wrp-chk {
  position: relative;
  padding: 20px 30px;
}
input#check {
  position: absolute;
  left: -175px;
  top: 26px;
  padding: 0px;
  margin: 0px;
}
.wrp-tetx {
  color: #fff;
  padding: 30px 10px;
}
.wrp-tetx h2 {
  text-align: left !important;
  font-size: 40px !important;
}
.wrp-tetx p{font-size: 15px;}


.topnav.blk-dis {
  display: block;
}
nav.sticky {display: none;}
nav {display: none;}
/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  width: 100%;
  z-index: 999;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color:rgb(0, 193, 255);
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #f1f1f1;
  color: white;
  /* box-shadow: 10px 10px 5px #333; */
}
img.nav-new {
  width: 28%;
}
.bx-serv {
  padding: 30px 25px;
  height: 50vh;
  margin: 0 20px;
}

.pcy-wrp h2 {
  font-size: 40px;
}
.img-sli-wrp {
  display: none;
}
.bxs-rv p {
  font-size: 16px;
  color: #000;
}
.bxs-rv h5 {
  font-size: 30px;
  font-weight: 700;
  color: #000;
}
.bxs-rv {
  height: 35vh;
  margin: 20px;
}
img.ser-gif {
  width: 100%;
  padding: 60px 0px;
}
input#checkpr {
  position: absolute;
  left: -175px;
  top: 100px;
}
.box-pr {
  height: 50vh;}
  img.tb-log {
    width: 30%;
}


















}





